@import 'variables';

@mixin dark-red-scheme {
    background-color: $dark-red !important;
    color: $white !important;

    a {
        color: $white;
    }

    a:hover {
        color: $light-gray-2;
    }
}